USE [BTLWebASP]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[BirthOfDate] [datetime] NULL,
	[DateRegister] [datetime] NULL,
	[LastAccess] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Aliases] [varchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[CountryName] [nvarchar](200) NOT NULL,
	[Code] [nchar](4) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupProduct]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupProduct](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Aliases] [varchar](50) NULL,
 CONSTRAINT [PK_NHOMSP] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MailBox]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBox](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[MaiContent] [nvarchar](max) NOT NULL,
	[DateEnter] [datetime] NOT NULL,
	[IsChecked] [bit] NOT NULL,
 CONSTRAINT [PK_HopThu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](150) NULL,
	[OrderDate] [datetime] NOT NULL,
	[Total] [int] NOT NULL,
	[IsShipping] [bit] NOT NULL,
	[ShippingDate] [datetime] NULL,
	[Note] [nvarchar](250) NULL,
	[UserID] [nvarchar](128) NULL,
	[Fax] [bigint] NULL,
	[CountryID] [int] NULL,
	[Postcode] [bigint] NULL,
	[City] [nvarchar](200) NULL,
 CONSTRAINT [PK_DatHang_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDet]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDet](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [bigint] NOT NULL,
	[Total] [bigint] NOT NULL,
 CONSTRAINT [PK_DatHangCT] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/03/2018 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [bigint] NOT NULL,
	[SalePrice] [bigint] NULL,
	[Image] [nvarchar](150) NULL,
	[GroupID] [int] NOT NULL,
	[DateEnter] [datetime] NOT NULL,
	[IsStopSelling] [bit] NOT NULL,
	[Aliases] [varchar](150) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Ad', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Mod', N'Mod')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2f7e4c3e-9ae9-4eed-8cc5-ff5ee339369c', N'Ad')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3f8c1b8a-94b5-4097-aadd-642b23fe53da', N'Ad')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Address], [Avatar], [BirthOfDate], [DateRegister], [LastAccess]) VALUES (N'3f8c1b8a-94b5-4097-aadd-642b23fe53da', N'cotyeyddca1@gmail.com', 1, N'ABY3fqK+D7jKQfWhQTqKCtY2eSqMFV9pyz/HgFZXJ0SbE3bUWpTg7ix0xiXTbPW46A==', N'0bd0ed1d-d05b-49a2-8a61-8a98f01e7b27', NULL, 0, 0, NULL, 1, 0, N'vincent', N'', N'Hà Nội', N'myavatar.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Aliases]) VALUES (1, N'Quần áo nữ', N'Quan-ao-nu')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Aliases]) VALUES (2, N'Quần áo nam', N'Quan-ao-nam')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Aliases]) VALUES (3, N'Phụ kiện', N'Phu-kien-thoi-trang')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[Country] ([CountryID], [CountryName], [Code]) VALUES (1, N'Afghanistan', N'AF  ')
INSERT [dbo].[Country] ([CountryID], [CountryName], [Code]) VALUES (2, N'Åland Islands', N'AX  ')
INSERT [dbo].[Country] ([CountryID], [CountryName], [Code]) VALUES (3, N'Albania', N'AL  ')
GO
SET IDENTITY_INSERT [dbo].[GroupProduct] ON 

INSERT [dbo].[GroupProduct] ([GroupID], [GroupName], [CategoryID], [Aliases]) VALUES (1, N'Áo sơ mi nữ', 1, N'Ao-so-mi-nu')
INSERT [dbo].[GroupProduct] ([GroupID], [GroupName], [CategoryID], [Aliases]) VALUES (2, N'Áo sơ mi nam', 2, N'Ao-so-mi-nam')
INSERT [dbo].[GroupProduct] ([GroupID], [GroupName], [CategoryID], [Aliases]) VALUES (3, N'Áo khoác nữ', 1, N'Ao-khoac-nu')
SET IDENTITY_INSERT [dbo].[GroupProduct] OFF
SET IDENTITY_INSERT [dbo].[MailBox] ON 

INSERT [dbo].[MailBox] ([ID], [Name], [Email], [MaiContent], [DateEnter], [IsChecked]) VALUES (1, N'Phạm Ngọc Cẩm Đào', N'abc@yahoo.com', N'Cảm nhận một không gian nhà vườn mộc mạc, thưởng thức các loại hải sản tươi sống, nhà hàng Alphatek mang đến cho bạn một hương vị thanh đạm chốn hương quê giữa lòng thành phố.', CAST(N'2013-09-03T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[MailBox] ([ID], [Name], [Email], [MaiContent], [DateEnter], [IsChecked]) VALUES (2, N'Trần Hùng', N'tranhung@gmail.com', N'Đến với nhà hàng Alphatek là sự lựa chọn của nhiều thực khách, trong đó có tôi, muốn tìm đến không gian thoáng đãng, yên tĩnh cho những buổi gặp mặt người thân, bạn bè và đồng nghiệp', CAST(N'2013-09-03T11:14:12.737' AS DateTime), 1)
INSERT [dbo].[MailBox] ([ID], [Name], [Email], [MaiContent], [DateEnter], [IsChecked]) VALUES (4, N'nguyễn ái tuấn', N'nguyenaituan@yahoo.com', N'Website cần bổ sung thêm chức năng thanh toán qua thẻ ngân hàng.', CAST(N'2016-10-16T14:18:20.607' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MailBox] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [Name], [Phone], [Address], [Email], [OrderDate], [Total], [IsShipping], [ShippingDate], [Note], [UserID], [Fax], [CountryID], [Postcode], [City]) VALUES (1, N'Trần Thanh Tâm', N'01688996543', N'123 Lê Hồng Phong, Quận 10, Tp.HCM', N'thanhtam@gmail.com', CAST(N'2014-05-01T16:54:14.607' AS DateTime), 3500000, 1, CAST(N'2014-05-02T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([OrderID], [Name], [Phone], [Address], [Email], [OrderDate], [Total], [IsShipping], [ShippingDate], [Note], [UserID], [Fax], [CountryID], [Postcode], [City]) VALUES (2, N'Lê Quốc Tuấn Anh', N'01688996547', N'456 Lê Lai, Q1, Tp.HCM', N'tuananh@yahoo.com', CAST(N'2014-05-01T16:54:14.607' AS DateTime), 200000, 1, CAST(N'2014-05-02T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([OrderID], [Name], [Phone], [Address], [Email], [OrderDate], [Total], [IsShipping], [ShippingDate], [Note], [UserID], [Fax], [CountryID], [Postcode], [City]) VALUES (3, N'Lê Văn Quốc ', N'01687986547', N'222 Trần Hưng Đạo', N'quoc@gmail.com', CAST(N'2014-05-01T16:54:14.607' AS DateTime), 310000, 1, CAST(N'2014-05-02T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[OrderDet] ([OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (1, 32, 10, 310000, 3100000)
INSERT [dbo].[OrderDet] ([OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (1, 89, 2, 200000, 400000)
INSERT [dbo].[OrderDet] ([OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (2, 89, 1, 200000, 200000)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [SalePrice], [Image], [GroupID], [DateEnter], [IsStopSelling], [Aliases]) VALUES (1, N'Áo cách điệu HOT HOT', N'abc', 230000, NULL, N'1.jpeg', 1, CAST(N'2011-03-17T00:00:00.000' AS DateTime), 1, N'Ao-cach-dieu-HOT-HOT')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [SalePrice], [Image], [GroupID], [DateEnter], [IsStopSelling], [Aliases]) VALUES (2, N'Áo thun KOREA mới về-Kute', N'Hàng order... nhận oder liên tục... thường là cuối tuần có hàng nên thứ 6 đóng oder.', 150000, NULL, N'2.jpeg', 6, CAST(N'2011-03-16T00:00:00.000' AS DateTime), 0, N'Ao-thun-KOREA-moi-ve-Kute')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [SalePrice], [Image], [GroupID], [DateEnter], [IsStopSelling], [Aliases]) VALUES (3, N'Khoác thun nón cực đẹp', N'CHẤT LIỆU : COTTON', 190000, NULL, N'3.jpeg', 3, CAST(N'2013-12-22T00:00:00.000' AS DateTime), 0, N'Khoac-thun-non-cuc-dep')
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__FullN__2D27B809]  DEFAULT ('') FOR [FullName]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__Addre__2E1BDC42]  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[MailBox] ADD  CONSTRAINT [DF_HopThu_NgayCapNhat]  DEFAULT (getdate()) FOR [DateEnter]
GO
ALTER TABLE [dbo].[MailBox] ADD  CONSTRAINT [DF_HopThu_DaDoc]  DEFAULT ((0)) FOR [IsChecked]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_DatHang_NgayDat]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_DatHang_TriGia]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_DatHang_DaGiao]  DEFAULT ((0)) FOR [IsShipping]
GO
ALTER TABLE [dbo].[OrderDet] ADD  CONSTRAINT [DF_DatHangCT_SoLuong]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderDet] ADD  CONSTRAINT [DF_DatHangCT_DonGia]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[OrderDet] ADD  CONSTRAINT [DF_DatHangCT_ThanhTien]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_SanPham_DonGia]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_SANPHAM_NgayDang]  DEFAULT (getdate()) FOR [DateEnter]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_SanPham_NgungBan]  DEFAULT ((0)) FOR [IsStopSelling]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[GroupProduct]  WITH CHECK ADD  CONSTRAINT [FK_Nhomsp_PhanLoai] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[GroupProduct] CHECK CONSTRAINT [FK_Nhomsp_PhanLoai]
GO
ALTER TABLE [dbo].[OrderDet]  WITH CHECK ADD  CONSTRAINT [FK_DatHangCT_DatHang] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDet] CHECK CONSTRAINT [FK_DatHangCT_DatHang]
GO
ALTER TABLE [dbo].[OrderDet]  WITH CHECK ADD  CONSTRAINT [FK_DatHangCT_SanPham] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDet] CHECK CONSTRAINT [FK_DatHangCT_SanPham]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Nhomsp] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupProduct] ([GroupID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_SanPham_Nhomsp]
GO
